
<div *ngIf="stories" class="" style="display: grid; grid-template-columns: auto auto auto">
    <div *ngFor="let story of stories" style="margin: 30px;">
        <mat-card style="background-color: #bed0e2;">
            <mat-card-header>
              <mat-card-title>{{story.heading}}</mat-card-title>
              <mat-card-subtitle>By: {{story.author}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions style="text-align: right;">
              <button mat-button>LIKE</button>
              <a *ngIf="story.url" [attr.href]="story.url"><button mat-button >VIEW</button></a>
 
            </mat-card-actions>
          </mat-card>
    </div>
</div>

<div style="width: 100%; display: inline-block;text-align: center;">
    <button mat-button (click)="seeMore()">See More</button>
</div>