<div [hidden]="!loading" class="center">

  <mat-progress-spinner [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <span class="search-title">Search by author:</span>
    <mat-form-field class="example-form-field">
      <input matInput type="text" [(ngModel)]="searchText">
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="stories" class="stories-container">
  <div *ngFor="let story of stories | filter : searchText" class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{story.heading}}</mat-card-title>
        <mat-card-subtitle>By: {{story.author}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="card-actions">
        <button mat-button>LIKE</button>
        <a *ngIf="story.url" [attr.href]="story.url"><button mat-button>VIEW</button></a>

      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="see-more-container">
  <button mat-button (click)="seeMore()" *ngIf="!loading">See More</button>
</div>